<!DOCTYPE html>

<html>

<head>
    <title>Error</title>
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>{{message}}</p>
    </div>

    {{>footer}}
</body>

</html>