<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
    {{>header}}

    <p>Insert the location and click "Search" to get the weather forecast</p>
    <div class="search-form">
        <form>
            <input type="text" required="">
            <label>Location</label>
            <button class="clear-icon" type="reset"></button>
            <button class="search">Search</button>
        </form>
    </div>

    <p id="Message-1"></p>
    <p id="Message-2"></p>
    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>