<header>
    {{!-- <div id="title-text">
        <img class="logo" src="/img/logo.png">
        <h1>{{title}}</h1>
    </div>
    <div class="links-bar"> --}}
        <img class="logo" src="/img/logo.png">
        <a class="btn btn-header" href="/">Previsão <i class="fas fa-cloud-sun-rain"></i></a>
        <a class="btn btn-header" href="/about">Sobre <i class="fas fa-question-circle"></i></a>
        <a class="btn btn-header" href="/contact">Contato <i class="far fa-envelope"></i></a>
    {{!-- </div> --}}
</header>