body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    font-family: Courier;
    text-align: right;
}

header {
    margin-top:16px;
    margin-bottom: 38px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eeeeee;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #333333;
    margin-right: 6px;
    padding: 12px 22px;
    text-decoration: none;
}
header a:hover {
    color: #888888;
    background-color: #333333;
    padding: 12px 22px;
}

.portrait {
    width: 250px;
}

pre {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial;
}

.search {
    border-radius: 5px;
    padding: 6px 14px;
    cursor: pointer;
}

.search-form, .clear-icon {
    position: relative;
}

.search-form input {
    padding: 5px;
    border: none;
    border-bottom: 2px solid #333333;
    margin-right: 8px;
    outline: none;
}

.search-form label{
    position: absolute;
    top: 6px;
    left: 8px;
    font-size: 14px;
    color: #888888;
    transition: .5s;
    pointer-events: none;
}

.search-form input:focus ~ label,
.search-form input:valid ~ label {
    top: -12px;
    left: 10px;
    color: #333333;
    font-size: 10px;
    font-weight: bold;
}

.clear-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
    outline: 0;
    cursor: pointer;
}
.clear-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: transparent;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: black;
	font-weight: normal;
	font-size: 12px;
	cursor: pointer;
}
.search-form input:not(:valid) ~ .clear-icon {
	display: none;
}